@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkWVAexg.woff) format("woff");
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWVAexg.woff) format("woff");
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjWVAexg.woff) format("woff");
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjWVAexg.woff) format("woff");
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjWVAexg.woff) format("woff");
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVQ.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVQ.woff) format("woff");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4gaVQ.woff) format("woff");
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
}
